@mixin size ($w:100%,$h:100%) {
  width: $w;
  height: $h;
}
@mixin flex ($d:flex,$j:center,$a:center) {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin gridCenter () {
  display: grid;
  place-items:center;
}
@mixin gridPlece {
  display: grid;
  place-items: center;
}
@mixin afBe {
  content: '';
  position: absolute;
}