@use "../config/mixin/mixin";
.contentCar {
  @include mixin.size(20rem, auto);
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  border-radius: 1.25rem;
  box-shadow: 0px 0.3125rem 0.625rem #000;
  @media screen and (min-width: 1440px) {
    @include mixin.size(46.875rem, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-right: 3.125rem;
  }
}
