@use "../config/mixin/mixin";
$padding-contentAccordeon:20px;
.conAccor {
  @include mixin.size(20rem, auto);
  @media screen and (min-width: 1440px) {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
  }
  &__title {
    margin-top: 0.625rem;
    font-size: 2rem;
    text-align: center;
    @media screen and (min-width: 1440px) {
      margin-top: 0;
      margin-bottom: 0.625rem;
      text-align:left;
      padding-left:$padding-contentAccordeon;
    }
  }
  &__contentAccordeon {
    @include mixin.size();
    padding-left: $padding-contentAccordeon;
    padding-right: $padding-contentAccordeon;
    padding-bottom: 2.5rem;
    @media screen and (min-width: 1440px) {
    padding-bottom:0;
    }
  }
}
