@use "../config/mixin/mixin";
.cImg {
  @include mixin.size(100%, 6.25rem);
  position: relative;
  @media screen and (min-width: 1440px) {
    @include mixin.size(100%, 300px);
  }
  &__img {
    @include mixin.size(15.625rem, 12.5rem);
    background-image: url("../images/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    top: -7.5rem;
    transform: translateX(-50%);
    &::before {
      @include mixin.afBe();
      @include mixin.size(100%, 6.5rem);
      background-image: url("../images/bg-pattern-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
      bottom: -1.25rem;
    }
    @media screen and (min-width: 1440px) {
      @include mixin.size(24.375rem, 18.75rem);
      background-image: url("../images/illustration-woman-online-desktop.svg");
      background-size: contain;
      left: -7.5rem;
      top: 50%;
      transform: translateY(-50%);
      &::before {
        @include mixin.size(24.375rem, 25rem);
        background-image: url("../images/bg-pattern-desktop.svg");
        background-size: contain;
        bottom: -3.125rem;
      }
      // &::after {
      //   @include mixin.afBe();
      //   @include mixin.size(160px, 150px);
      //   bottom: 35px;
      //   left: -10px;
      //   background-image: url("../images/illustration-box-desktop.svg");
      //   background-repeat: no-repeat;
      //   background-size: contain;
      // }
    }
  }
  
}
